/* Mobile Responsive Design */
@media (max-width: 1024px) {
    body::before {
        width: 1268px;
        height: 1268px;
    }

    body::after {
        width: 992px;
        height: 992px;
    }


    .design-container::before {
        width: 690px;
        height: 690px;
    }

    .design-container::after {
      
        width: 398px;
        height: 398px;
    }
}

@media (max-width: 768px) {
    /* Adjust for mobile screens */
}

@media (max-width: 480px) {
    /* Adjust for smaller mobile screens */
}